.pagination-button {
    color: lightseagreen;
    border: none;
    text-decoration: none;
    background-color: inherit;
    font-size: 22px;
}

.pagination-button:focus, .pagination-button:active {
    border: none !important;
    outline: none;
}

.pagination-button:hover {
    color: #000;
}
