.film-container {
    border: none;
    min-height: 300px;
    border-radius: 5px;
    margin: 20px 0;
    box-shadow: 0 0 4px grey;
    cursor: pointer;
    transition: 0.7s;
    background-color: inherit;
}

.film-container:active, .film-container:focus {
    outline: none;
}

.film-container:hover {
    box-shadow: 0 0 9px 3px grey;
    transition: bow-shadow 2s;
}

.film-container__image {
    margin-top: 30%;
    margin-left: 7%;
    border-radius: 7px;
    box-shadow: #000 0 0 10px 1px;
    width: 80%;
    height: 70%;
}

.film-container__link, .film-container__link:hover {
    text-decoration: none;
    color: black;
}
