.place {
    background-color: grey;
    width: 30px;
    height: 30px;
    margin: 3px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}

.place_your {
    background-color: #2EFE64;
    cursor: pointer;
    box-shadow: black 2px 1px 7px;
}

.place_taken {
    background-color: black;
    cursor: pointer;
}

.place:hover {
    background-color: #2EFE64;
    cursor: pointer;
    box-shadow: black 2px 1px 10px;
}

.place p {
    font-size: 0.8rem;
    color: darkblue;
}
