a {
    text-decoration: none;
}

.session-card {
    margin: 5px;
    padding: 4px 10px;
    border: none;
    border-radius: 5px;
    outline: none;
    background-color: aquamarine;
    color: black;
    width: 70px;
    height: 40px;
    text-align: center;
}

.session-card:hover, .session-card:focus {
    background-color: aqua;
    border: none;
    outline: none;
    text-decoration: none;
    color: inherit;
}

.session-container {
    display: flex;
}

.session_link, .session_link:hover {
    color: black;
    text-decoration: none;
}
